.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  margin-top: 30px;
}

.bar {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 60px;
  background-color: white;
}

.line {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 60px;
  background-color: white;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}